/* add home page styles here */


.title {
    margin-top: 15px;
    text-align: center;
    align-items: center;
    left: 0;
    color: honeydew;
    
}

.beans {
    border: solid 2px black;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    font-size: auto;
    height: 475px;
    width: 180px;
    background-color: rgba(12, 12, 12, .5);
    color: white;
    padding-left: 0;

}

.bbf {
    width: 150px;
    height: 150px;
}

ul {
    margin-top: 5%;
    display: flex;
}

