/* add home page styles here */

#bean-stalk {
    position: absolute;
    right: 1%;
    height: 8%;
    width: 6%;
    top: 13px;
    border: solid 2px green;
}

.title {
    margin-top: 40px;
    text-align: center;
    left: 0;
    margin-right: 35%;
}

.beans {
    border: solid 2px black;
    list-style-type: none;
    padding: 15px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    font-size: 2rem;

}

 

ul {
    margin-top: 15%;
}