/* add home page styles here */
.title {
    margin-top: 15px;
    text-align: center;
    align-items: center;
    left: 0;
    color: honeydew;
}

.beans {
    border: solid 2px black;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    font-size: auto;
    height: 475px;
    width: 180px;
    background-color: rgba(12, 12, 12, .5);
    color: white;
    padding-left: 0;

}

.bbf {
    width: 150px;
    height: 150px;
}

ul {
    margin-top: 5%;
    display: flex;
}

.cart-button {
    position: fixed;
    right: 5%;
    font-size: 2rem;
    color: white;
}

table {
    border: solid 3px black;
    background-color: rgba(1, 1, 1, .3);
    color: ivory;
    margin-top: 5%;
    width: 25%;
    font-size: 2rem;
    font-weight: bold;
}

td {
    border: solid 2px white;
}

#cart-total {
    background-color: rgba(1, 1, 1, .4);
}

.btn-chck {
    margin-top: 2%;
    width: 150px;
    height: 60px;
    border-radius: 13px;
    cursor: pointer;
    border: solid 2px black;
}

.btn-chck:hover {
    background-color: gray;
    transition: ease-in 750ms;
    
}

tfoot {
    text-align: center;
}
